{% extends "pages/base.html" %}

{% block title %}Login{% endblock  %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="login-page">
            <div class="login-container">
                <h2>Log In</h2>
                <div class="login-group">
                    <input type="text" placeholder="Username or Email" name="{{ form.username.name }}">
                </div>  
                <div class="login-group">
                    <input type="password" placeholder="Password" name="{{ form.password.name }}">
                </div>
                <div class="login-button-group">
                    <input type="submit" value="Log In" name="login" class="login-btn cc-button-component">
                    <input type="submit" value="Sign Up" name="register" class="signup-btn cc-button-component">
                </div>
            </div>
        </div>
    </form>
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock  %}
