

.home-layout{
    display: block;
    unicode-bidi: isolate;
    margin: 0;
    padding: 0;
}

#tb{
    height: 4rem;
    justify-content: space-between;
    width: 100vw;
}

#tb.home-header{
    display: flex;
    background-color: #262421;
    margin: 0 auto;
    max-width: 108.2rem;
}

.right-tb-menu{
    gap: .3rem;
    padding-right: .5rem;
    display: flex;
    margin: 0;
    align-items: center;
    max-width: 18rem;
}

.left-tb-menu{
    margin: 0;
    align-items: center;
}

.cc-button-component{
    font-weight: bold;
    align-items: center;
    border: 0;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: center;
    line-height: 1.1428;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    transition-property: box-shadow,background-color,color;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.login-btn {
    display: inline-grid;
    padding: .4rem 1.6rem;
    font-size: 1.4rem;
    background-color: #81b64c;
    border-radius: .5rem;
    max-height: 4rem;
    width: 5.5rem;
    height: 2rem;
}

.login-btn:hover {
    background-color: #a3d160;
}

.signup-btn {
    display: inline-grid;
    padding: .4rem 1.6rem;
    font-size: 1.4rem;
    background-color: #312e2b;
    border-radius: .5rem;
    max-height: 4rem;
    width: 5.5rem;
    height: 2rem;
}

.signup-btn:hover {
    background-color: #474441;
}

.logout-btn{
    display: inline-grid;
    margin-left: 8rem;
    padding: .4rem 1.6rem;
    font-size: 1.4rem;
    background-color: #312e2b;
    border-radius: .5rem;
    max-height: 4rem;
    width: 10rem;
    height: 3rem;
}

.index-component{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.index-block{
    display: flex;
    margin-bottom: 3.2rem;
    padding-top: .8rem;
    width: 100%
}

.index-broad{
    margin-top: 4%;
    margin-left: 10%;
    display: block; 
    position: relative;
    width: 50%;
}

.index-broad-img{
    border-radius: .5rem;
    height: auto;
    max-width: 90%;
    width: 35.6rem;
}

.index-intro{
    padding: 0 4.8rem;
    width: 50%;
}

.intro-button-wrap{
    padding-top: 15rem;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 100%
}

.intro-play-onl-button{
    display: inline-grid;
    padding: .4rem 1.6rem;
    font-size: 2rem;
    background-color: #81b64c;
    border-radius: .5rem;
    width: 25rem;
    height: 5rem;
}

.intro-play-onl-button:hover {
    background-color: #a3d160;
    box-shadow: 0rem 0rem 2rem .5rem rgba(255, 255, 255, 0.195);
}


.intro-play-com-button{
    display: inline-grid;
    margin-top: 2rem;
    padding: .4rem 1.6rem;
    font-size: 2rem;
    background-color: #8e9a83;
    border-radius: .5rem;
    width: 25rem;
    height: 5rem;
}

.intro-play-com-button:hover {
    background-color: #848d77;
    box-shadow: 0rem 0rem 2rem .5rem rgba(255, 255, 255, 0.195);
}

.login-page{
    font-family: Arial, sans-serif; /* Phông chữ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao toàn bộ viewport */
    margin: 0; /* Xóa margin mặc định */
}

.login-container{
    justify-content: center;
    align-items: center;
    background-color: #262421; 
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: .5rem; 
    width: 300px; 
    color: white;
}

.login-container h2{
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.login-group {
    padding: .3rem;
    margin-bottom: 1rem;
}   

.login-group > input[type="text"],
.login-group > input[type="password"] {
    font-weight: bold;
    width: 90%; 
    padding: 5%; 
    border: 1px solid #666; 
    border-radius: .2rem; 
    background-color: #343434;
    color: white;
}


.login-button-group {
    text-align: center;
    margin-top: 1.5rem;
}

.login-button-group > .login-btn {
    display: inline-grid;
    padding: .4rem 1.6rem;
    font-size: 1.4rem;
    background-color: #81b64c;
    border-radius: .5rem;
    max-height: 4rem;
    width: 100%;
    height: 3rem;
}

.login-button-group > .login-btn:hover{
    background-color: #a3d160;
}

.login-button-group > .signup-btn{
    display: inline-grid;
    padding: .4rem 1.6rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    background-color: #000000;
    border-radius: .5rem;
    max-height: 4rem;
    width: 100%;
    height: 3rem;
}

.login-button-group > .signup-btn:hover {
    background-color: #121212;
}